services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi-app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
      - TEMPORAL_SERVER_URL=host.docker.internal:7233
    networks:
      - app-network

  postgres:
    container_name: postgres
    image: pgvector/pgvector:pg16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/migrations/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  neo4j:
    image: neo4j
    container_name: sentinel_neo4j_container
    networks:
      - app-network
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_server_memory_heap_initial__size=6G
      - NEO4J_server_memory_heap_max__size=12G
      - NEO4J_dbms_memory_transaction_total_max=12G
      - NEO4J_db_transaction_timeout=600s
    volumes:
      - neo4j_data:/var/lib/neo4j/data
    healthcheck:
      test: ["CMD", "cypher-shell", "-u", "neo4j", "-p", "password", "--non-interactive", "RETURN 1;"]
      interval: 30s
      timeout: 60s
      retries: 3
  
  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    ports:
      - "4040:4040"
    environment:
      - NGROK_AUTHTOKEN=$NGROK_AUTHTOKEN
    command: http app:8000
    depends_on:
      - app
    networks:
      - app-network

volumes:
  postgres_data:
  neo4j_data:

networks:
  app-network:
